__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.env
api/api_keys.json
pragon_brain/pragon_log.log
pragon_brain/pragon_brain.db
consciousness/unified/
library_store/
forgeoutput/
ragsystem/chroma_store/
ragsystem/venv/
.DS_Store
api/githubapi.txt
customforge/config/api_keys.json
